body, html {
  margin: 0;
  padding: 0; }

* {
  font-family: Helvetica; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h2 {
  font-size: 30px;
  font-weight: 300; }

a {
  cursor: pointer; }

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #66676c;
  border-radius: 3px;
  outline: 0;
  font-size: 16px;
  box-sizing: border-box; }

#menu {
  position: fixed;
  right: 0;
  top: 50px;
  height: calc(100% - 50px);
  width: 300px;
  background-color: #66676c;
  color: #e0e5ec; }
  #menu a {
    font-size: 20px;
    font-weight: 300;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #74757a; }

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff; }
  #navbar > * {
    top: 12px;
    position: absolute;
    display: inline-block; }
  #navbar a {
    font-size: 24px; }
    #navbar a.back {
      left: 10px; }
    #navbar a.menu {
      right: 10px; }
  #navbar h2 {
    left: 35px;
    font-size: 24px;
    font-weight: 300; }
    #navbar h2 span {
      position: relative;
      top: -3px;
      border: 1px solid white;
      font-weight: 700;
      border-radius: 3px;
      font-size: 13px;
      padding: 3px; }

#mainView {
  margin: 0 auto;
  margin-top: 60px;
  width: 70%;
  height: calc(100% - 60px); }
  #mainView h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 10px 0; }
  #mainView #edit {
    margin-bottom: 30px;
    background-color: #74757a;
    color: white; }
    #mainView #edit a {
      position: relative;
      display: block;
      float: left;
      box-sizing: border-box;
      width: 50%;
      padding: 5px;
      font-size: 17px;
      text-align: center; }
      #mainView #edit a i {
        position: absolute;
        left: 5px; }
      #mainView #edit a:hover {
        background-color: #66676c; }
    #mainView #edit > span {
      display: block;
      clear: both; }

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); }
  #overlay .wrap {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 25%;
    left: 15%;
    background-color: #fff; }
    #overlay .wrap h2 {
      color: white;
      position: absolute;
      bottom: 100%;
      margin-bottom: 10px; }
    #overlay .wrap .add {
      font-size: 20px;
      text-align: center;
      margin: 10px;
      color: dodgerblue; }
      #overlay .wrap .add a {
        margin: 10px; }
      #overlay .wrap .add span {
        font-size: 14px;
        vertical-align: middle;
        display: inline-block;
        padding: 5px; }
    #overlay .wrap .pagination {
      position: absolute;
      top: 100%;
      text-align: center;
      width: 100%;
      background-color: #e0e5ec;
      padding: 10px 20px;
      box-sizing: border-box;
      z-index: 998; }
      #overlay .wrap .pagination span {
        display: inline-block;
        position: relative;
        margin: 0 2px;
        width: 10px;
        height: 10px;
        background-color: #bec3ca;
        border-radius: 100%; }
        #overlay .wrap .pagination span.active {
          background-color: dodgerblue; }
    #overlay .wrap .next, #overlay .wrap .prev {
      position: absolute;
      top: 100%;
      margin-top: 3px;
      font-size: 30px;
      color: dodgerblue;
      z-index: 999; }
    #overlay .wrap .next {
      right: 10px;
      margin-left: 10px; }
    #overlay .wrap .prev {
      left: 10px;
      margin-right: 10px; }

#overlay .settings {
  overflow: auto;
  height: 100%;
  width: 90%;
  margin: 10px auto; }
  #overlay .settings .row, #overlay .settings .heading {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto; }
    #overlay .settings .row h3, #overlay .settings .heading h3 {
      font-size: 20px;
      font-weight: 300;
      text-align: center; }
    #overlay .settings .row input, #overlay .settings .heading input {
      border: 0; }
      #overlay .settings .row input[type=date], #overlay .settings .heading input[type=date] {
        font-size: 12px; }
    #overlay .settings .row > span, #overlay .settings .heading > span {
      display: block;
      clear: both; }
    #overlay .settings .row > div.cell, #overlay .settings .heading > div.cell {
      border: 1px solid #e0e5ec;
      border-radius: 0;
      border-right-width: 0;
      border-top-width: 0;
      box-sizing: border-box;
      float: left;
      width: 20%; }
      #overlay .settings .row > div.cell.last, #overlay .settings .heading > div.cell.last {
        border-right-width: 1px; }
      #overlay .settings .row > div.cell.half, #overlay .settings .heading > div.cell.half {
        width: 15%; }
    #overlay .settings .row.row:first-of-type > div, #overlay .settings .heading.row:first-of-type > div {
      border-top-width: 1px; }
    #overlay .settings .row.row:first-of-type div.first, #overlay .settings .heading.row:first-of-type div.first {
      border-top-left-radius: 3px; }
    #overlay .settings .row.row:first-of-type div.last, #overlay .settings .heading.row:first-of-type div.last {
      border-top-right-radius: 3px; }
    #overlay .settings .row:nth-last-child(2) div.first, #overlay .settings .heading:nth-last-child(2) div.first {
      border-bottom-left-radius: 3px; }
    #overlay .settings .row:nth-last-child(2) div.last, #overlay .settings .heading:nth-last-child(2) div.last {
      border-bottom-right-radius: 3px; }
    #overlay .settings .row:nth-of-type(1) > div, #overlay .settings .row > div.noborder, #overlay .settings .heading:nth-of-type(1) > div, #overlay .settings .heading > div.noborder {
      border: none; }
    #overlay .settings .row .special, #overlay .settings .heading .special {
      position: absolute;
      text-align: center;
      border: none !important;
      width: 30px !important;
      padding: 5px;
      cursor: pointer; }
      #overlay .settings .row .special input, #overlay .settings .heading .special input {
        display: none; }
      #overlay .settings .row .special input:checked + i, #overlay .settings .heading .special input:checked + i {
        color: dodgerblue; }
      #overlay .settings .row .special.transport, #overlay .settings .heading .special.transport {
        right: 100%; }
      #overlay .settings .row .special.delete, #overlay .settings .heading .special.delete {
        color: firebrick;
        left: 100%; }
  #overlay .settings #transport {
    float: none;
    width: 100%; }
    #overlay .settings #transport h4 {
      font-size: 12px;
      font-weight: 700; }

/*# sourceMappingURL=app.css.map */
