<div id="edit">
    <a ng-click="reisen.deleteSelected() && reisen.delete()" ng-class="{disabled: !reisen.deleteSelected()}">Löschen</a>
    <a ng-click="main.openAdder()">Hinzufügen</a>
</div>
<div ng-repeat="(year, reisenListe) in manager.reisen">
    <h3>{{ year }}</h3>
    <div ng-repeat="reise in reisenListe" class="travel">
        <input type="checkbox"
               ng-model="reisen.deleteFields[year][$index]"/>
        <h4 ng-click="main.openAdder(reise)">{{ reise.getTitle() }}</h4>
    </div>
</div>