<div class="heading">
    <div class="cell entry"><h3>Einreise</h3></div>
    <div class="cell exit"><h3>Ausreise</h3></div>
    <div class="cell location"><h3>Ort</h3></div>
    <div class="cell reason"><h3>Grund</h3></div>
    <div class="cell note"><h3>Anmerkung</h3></div>
    <span></span>
</div>
<div class="station row" ng-repeat="station in adder.travel.stations | orderBy: 'entryDate'">
    <div class="cell transport special" title="Transportmittel anzeigen/ausblenden"><label>
        <input type="checkbox" class="nostyle" ng-model="stationField[$index].showTransport"/>
        <i class="fa fa-car"></i>
    </label></div>
    <div class="cell entry first"><input type="date"
                                         ng-model="station.entryDate"/></div>
    <div class="cell exit"><input type="date"
                                  ng-model="station.exitDate"/></div>
    <div class="cell location"><input type="string"
                                      ng-model="station.city"/>
        <select ng-model="station.country"
                ng-options="country for country in adder.countries"></select></div>
    <div class="cell reason"><input type="text"
                                    ng-model="station.reason"/></div>
    <div class="cell note last"><input type="text"
                                       ng-model="station.text"/></div>
    <div ng-click="adder.travel.removeStation(station)" class="cell delete special" title="Diese Station löschen">
        <i class="fa fa-times"></i></div>
    <span></span>
    <div id="transport" transport ng-show="stationField[$index].showTransport"></div>
</div>
<div class="add"><a class="fa fa-plus" ng-click="adder.travel.addStation()"></a></div>