body, html {
  margin: 0;
  padding: 0;
}

* {
  font-family: Helvetica;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

a {
  cursor: pointer;
}

input {
  padding: 5px;
  border: 1px solid #66676c;
  border-radius: 3px;
  outline: 0;
  font-size: 16px;
  box-sizing: border-box;
}

#menu {
  position: fixed;
  right: 0;
  top: 50px;
  height: calc(100% - 50px);
  width: 300px;
  background-color: #66676c;
  color: #e0e5ec;
  a {
    font-size: 20px;
    font-weight: 300;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #74757a;
  }
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff;
  & > * {
    top: 12px;
    position: absolute;
    display: inline-block;
  }
  a {
    font-size: 24px;
    &.back {
      left: 10px;
    }
    &.menu {
      right: 10px;
    }
  }
  h2 {
    left: 35px;
    font-size: 24px;
    font-weight: 300;
    span {
      position: relative;
      top: -3px;
      border: 1px solid white;
      font-weight: 700;
      border-radius: 3px;
      font-size: 13px;
      padding: 3px;
    }
  }
}

#mainView {
  margin: 0 auto;
  margin-top: 60px;
  width: 70%;
  height: calc(100% - 60px);

  h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 10px 0;
  }

  .travel {
    display: block;
    position: relative;
    border-bottom: 1px solid #e0e5ec;
    padding: 5px;
    h4 {
      position: absolute;
      box-sizing: border-box;
      width: calc(100% - 50px);
      height: 100%;
      padding: 5px;
      top: 0;
      left: 50px;
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;
    }
  }

  #edit {
    position: relative;
    color: white;
    height: 30px;
    width: 100%;
    a {
      position: absolute;
      display: block;
      font-size: 17px;
      text-align: center;
      color: dodgerblue;
      top: 0;
      &:first-child {
        left: 0;
        color: crimson;
      }
      &:last-child {
        right: 0;
      }
      &.disabled {
        color: #74757a;
      }
    }
  }
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  .wrap {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 25%;
    left: 15%;
    background-color: #fff;
    h2 {
      color: white;
      position: absolute;
      bottom: 100%;
      margin-bottom: 10px;
    }
    .add {
      font-size: 20px;
      text-align: center;
      margin: 10px;
      color: dodgerblue;
      a {
        margin: 10px;
      }
      span {
        font-size: 14px;
        vertical-align: middle;
        display: inline-block;
        padding: 5px;
      }
    }
    .pagination {
      position: absolute;
      top: 100%;
      text-align: center;
      width: 100%;
      background-color: #e0e5ec;
      padding: 10px 20px;
      box-sizing: border-box;
      z-index: 998;
      span {
        display: inline-block;
        position: relative;
        margin: 0 2px;
        width: 10px;
        height: 10px;
        background-color: #bec3ca;
        border-radius: 100%;
        &.active {
          background-color: dodgerblue;
        }
      }
    }
    .next, .prev {
      position: absolute;
      top: 100%;
      margin-top: 3px;
      font-size: 30px;
      color: dodgerblue;
      z-index: 999;
    }
    .next {
      right: 10px;
      margin-left: 10px;
    }
    .prev {
      left: 10px;
      margin-right: 10px;
    }
  }
}

#overlay .settings {
  overflow: auto;
  height: 100%;
  width: 90%;
  margin: 10px auto;
  input, select {
    width: 100%;
  }
  .row, .heading {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    h3 {
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }
    input {
      border: 0;
      &[type=date] {
        font-size: 12px;
      }
    }
    & > span {
      display: block;
      clear: both;
    }
    & > div.cell {
      border: 1px solid #e0e5ec;
      border-radius: 0;
      border-right-width: 0;
      border-top-width: 0;
      box-sizing: border-box;
      float: left;
      height: 30px;
      width: 20%;
      &.last {
        border-right-width: 1px;
      }
      &.half {
        width: 15%;
      }
      &.location {
        input, select {
          width: 50%;
          float: left;
        }
      }
    }
    $radius: 3px;
    &:nth-of-type(2) {
      & > div {
        border-top-width: 1px;
      }
      div.first {
        border-top-left-radius: $radius;
      }
      div.last {
        border-top-right-radius: $radius;
      }
    }
    &:nth-last-child(2) {
      div.first {
        border-bottom-left-radius: $radius;
      }
      div.last {
        border-bottom-right-radius: $radius;
      }
    }
    &:nth-of-type(1) > div, & > div.noborder {
      border: none;
    }

    .special {
      position: absolute;
      text-align: center;
      border: none !important;
      width: 30px !important;
      padding: 5px;
      cursor: pointer;
      input {
        display: none;
      }
      input:checked + i {
        color: dodgerblue;
      }
      &.transport {
        right: 100%;
      }
      &.delete {
        color: crimson;
        left: 100%;
      }
    }
  }
  #transport {
    float: none;
    width: 100%;

    h4 {
      font-size: 12px;
      font-weight: 700;
    }
  }

}

