<select ng-model="adder.fields.stationPicker"
        ng-options="station.location for station in adder.travel.stations"></select>
<div ng-if="adder.fields.stationPicker"
     class="heading table">
    <div class="from"><h3>Von</h3></div>
    <div class="to"><h3>Bis</h3></div>
    <div class="bf"><h3>Frühstück</h3></div>
    <div class="lu"><h3>Mittag</h3></div>
    <div class="di"><h3>Abendessen</h3></div>
    <span></span>
</div>
<div ng-if="adder.fields.stationPicker"
     class="station table" ng-repeat="flat in adder.fields.stationPicker.verpflegung">
    <div class="from"><input type="date"
                             ng-model="verpflegung[$index].from"
                             ng-change="flat.setFrom(verpflegung[$index].from)"/></div>
    <div class="to"><input type="date"
                             ng-model="verpflegung[$index].to"
                             ng-change="flat.setTo(verpflegung[$index].to)"/></div>
    <div class="bf"><input type="checkbox"
                           ng-model="verpflegung[$index].bf"
                           ng-change="flat.setBreakfast(verpflegung[$index].bf)"/></div>
    <div class="lu"><input type="checkbox"
                           ng-model="verpflegung[$index].lu"
                           ng-change="flat.setLunch(verpflegung[$index].lu)"/></div>
    <div class="di"><input type="checkbox"
                           ng-model="verpflegung[$index].di"
                           ng-change="flat.setDinner(verpflegung[$index].di)"/></div>
    <span></span>
</div>
<div ng-if="adder.fields.stationPicker"
     class="add"><a class="fa fa-plus" ng-click="adder.fields.stationPicker.addVerpflegung()"></a></div>