<div class="heading table">
    <div class="entry"><h3>Einreise</h3></div>
    <div class="exit"><h3>Ausreise</h3></div>
    <div class="location"><h3>Ort</h3></div>
    <div class="reason"><h3>Grund</h3></div>
    <div class="note"><h3>Anmerkung</h3></div>
    <span></span>
</div>
<div class="station table" ng-repeat="station in adder.travel.stations">
    <div class="transport"><label>
        <input type="checkbox" class="nostyle" ng-model="stationField[$index].showTransport" />
        <i class="fa fa-car"></i>
    </label></div>
    <div class="entry"><input type="date"
                              ng-model="stationField[$index].entrydate"
                              ng-change="station.setEntryDate(stationField[$index].entrydate)"/></div>
    <div class="exit"><input type="date"
                             ng-model="stationField[$index].exitdate"
                             ng-change="station.setExitDate(stationField[$index].exitdate)"/></div>
    <div class="location"><input type="text"
                                 ng-model="stationField[$index].location"
                                 ng-change="station.setLocation(stationField[$index].location)"/></div>
    <div class="reason"><input type="text"
                               ng-model="stationField[$index].reason"
                               ng-change="station.setReason(stationField[$index].reason)"/></div>
    <div class="note"><input type="text"
                             ng-model="stationField[$index].note"
                             ng-change="station.setText(stationField[$index].note)"/></div>
    <span></span>
    <div id="transport" transport ng-show="stationField[$index].showTransport"></div>
</div>
<div class="add"><a class="fa fa-plus" ng-click="adder.travel.addStation()"></a></div>